{% load static %}
<style>

    .navbar {
      background-color: #f8f9fa;
    }
  
    .navbar-light .navbar-nav .nav-link {
      color: #000000;
    }
    .navbar-toggler {
        background-color: white;
        color: white;
     }

     button.navbar-toggler.collapsed {
      color: brown;
  }

  .logo {
    height: 2em;
    width: 2em;
  }

  button#sendButton {
    margin-right: 19px;
}

button.search-icon {
  margin-right: 20px;
}

  div#navbarNavAltMarkup {
    justify-content: space-between;
}



@media (max-width: 986px) {
    div#navbarNavAltMarkup {
      margin-left: 25px;
    }

    .search-container {
      flex-direction: row-reverse;
    }
  
    .search-input {
      width: 0;
      transition: width 0.3s ease-in-out;
    }
  
    .search-icon {
      margin-left: 20px;
      left: 0;
      right: auto;
      transform: translateX(0);
      transition: all 0.3s ease-in-out;
    }
  }

  .search-container {
    position: relative;
    margin-top: 9px;
  }
  
  .search-input {
    width: 0;
    height: 30px;
    padding: 0;
    border: none;
    transition: width 0.3s ease-in-out;
  }
  
  .search-icon {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
    background: url(path/to/search-icon.png) center/contain no-repeat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  input.search-input {
    padding-inline-start: 10px;
}

  
</style>

<nav class="fixed-top navbar navbar-expand-lg navbar-black bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="https://drive.google.com/uc?export=view&id=1_jv9jwmC2hVMWDd2N209uAZ8AOGCIdla" alt="Logo" class="logo">
     BGUN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
      </svg>
      
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Quizzz</a>
          
          <a class="nav-link" href="{% url 'books' %}">Books</a>
          <a class="nav-link" href="{#% url 'quiz' %#}">Social</a>



        </div>
        <div class="navbar-nav">
          <div class="search-container">
            <form action="{% url 'search' %}" method="GET">
              <input type="text" class="search-input" id="searchInput" name="query" value="{{ request.GET.query }}">
              <a href="{#% url 'search' %#}"><button class="search-input" id="sendButton" type="submit"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/></svg></button></a>
              
            </form>
            <button class="search-icon" onclick="toggleSearchBar()"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
          </div>
          <a class="nav-link" data-mdb-toggle="tooltip" title="Upload African Books" href="{% url 'add_book' %}"><button type="button" class="btn btn-sm btn-outline-primary">Upload Books</button></a>    
          <a class="nav-link" data-mdb-toggle="tooltip" title="Profile" href="{% url 'profile' %}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                      <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                                    </svg></a>

          {% if user.is_authenticated %}               
            <a class="nav-link" data-mdb-toggle="tooltip" title="Wanna logout ?" href="{% url 'logout' %}"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
                                      </svg>
                                    Logout</a>
          {% else %}
            <a class="nav-link" data-mdb-toggle="tooltip" title="Wanna login ?" href="{% url 'login' %}">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>
              Login
            </a>
          {% endif %}                           
        </div>
      </div>
    </div>
  </nav> 

<script>
  function toggleSearchBar() {
    var input = document.querySelector('.search-input');
    var icon = document.querySelector('.search-icon');
  
    if (input.style.width === '0px') {
      input.style.width = '200px'; // Adjust the width as needed
      if (window.innerWidth <= 768) {
        icon.style.transform = 'translateX(200px)'; // Adjust the translation as needed
      } else {
        icon.style.transform = 'translateX(-200px)'; // Adjust the translation as needed
      }
    } else {
      input.style.width = '0';
      icon.style.transform = 'translateX(0)';
    }
  }
  
  window.addEventListener('resize', function() {
    toggleSearchBar(); // Call the function on window resize to handle changes in viewport width
  });

  var searchInput = document.getElementById('searchInput');
  var sendButton = document.getElementById('sendButton');

  function updateSendButtonVisibility() {
    if (searchInput.value.trim() !== '') {
      sendButton.style.visibility = 'visible';
    } else {
      sendButton.style.visibility = 'hidden';
    }
  }

  searchInput.addEventListener('input', updateSendButtonVisibility);
  updateSendButtonVisibility();
</script>
