{% extends 'base.html' %}
{% block content %}

<form method="post" action="{% url 'submit_answer' quiz_progress.id %}">
    {% csrf_token %}
    <p>{{ page_obj.object_list.0.question_text }}</p>
    {% for answer in page_obj.object_list.0.answers.all %}
        <input type="radio" name="selected_answer" value="{{ answer.id }}">
        <label>{{ answer.answer_text }}</label><br>
    {% endfor %}
    
    {% if page_obj.has_previous %}
        <input type="submit" name="previous" value="Previous">
    {% endif %}
    
    {% if page_obj.has_next %}
        <input type="submit" name="next" value="Next">
    {% else %}
        <input type="submit" name="submit" value="Submit">
    {% endif %}
    
</form>

        <div class="col-md-6">
            <h3>Comments</h3>
            
            {% for comment in question.comment_set.all %}
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.user.username }}</h5>
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
            
            <h3>Add a Comment</h3>
            
            <form action="{#% url 'add_comment' category_id=category.id question_id=question.id %#}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment">Your Comment:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
        </div>
    </div>
</div>

{% endblock  %}