{% extends 'base.html' %}

{% block content %}

<style>
  img {
    margin-top: 10px;
    border-radius: 10px;
}
</style>
<div class="container mt-4">
  <h1>Search Results</h1>
<hr>
  <!-- Categories -->
  {% if results.categories %}
  <h2>Categories</h2>
  <div class="row">
    {% for category in results.categories %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <div>
            <a href="{% url 'category_detail' category.id %}" class="btn btn-primary">View Details</a>
              <br>
            <a href="{#% url 'quiz_sessions' category.id %#}" class="btn btn-secondary">Quiz Sessions</a>
          </div>
          <div>
              <img src="{{category.image.url}}" alt="Category Image" height=100px width=100px>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Questions -->
  {% if results.questions %}
  <h2>Questions</h2>
  <div class="row">
    {% for question in results.questions %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ question.question_text }}</h5>
          <!-- Add more question-related information here -->
          <a href="{% url 'question_details' question.id %}" class="btn btn-primary">View Details</a>
          <a href="{#% url 'quiz_sessions' question.category.id %#}" class="btn btn-secondary">Quiz Sessions</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Books -->
  {% if results.books %}
  <h2>Books</h2>
  <div class="row">
    {% for book in results.books %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <!-- Add more book-related information here -->
          <a href="{% url 'books' %}" class="btn btn-primary">View Details</a>
          <a href="{% url 'add_book' %}" class="btn btn-secondary">Add more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if not results.categories and not results.questions and not results.books %}
  <p>No results found.</p>
  {% endif %}
</div>
{% endblock %}